URL=host.docker.internal

DATABASE_NAME=name
DATABASE_USER=user
DATABASE_PASSWORD=password

MAIL_ADDRESS=e@mail.local
MAIL_HOST=host.docker.internal
MAIL_USER=user
MAIL_PASSWORD=password
MAIL_PORT=587
MAIL_TLS=on

METRICS_USER=user
METRICS_PASSWORD=password

ACME_EMAIL=e@mail.local

BACKUP_REPOSITORY=/restic-repo
BACKUP_PASSWORD=password
