{
    email {$EMAIL}
    admin :2019
    metrics
}

(hardened_security) {
    tls {
        curves x25519 secp256r1 secp384r1
        protocols tls1.3
    }

    header Strict-Transport-Security "max-age=63072000"
}

{$URL} {
    import hardened_security
    reverse_proxy http://app
}

grafana.{$URL} {
    import hardened_security
    reverse_proxy http://grafana:3000
}

:8080 {
    reverse_proxy http://app {
        header_up Host {$URL}
        header_up Authorization "Basic {$METRICS_TOKEN}"
    }
}
